*{
	margin: 0px;
	padding: 0px;
}
.line{
	height: 40px;
	width: 1365px;
	background-color: #E91E59;
}
.content{
	height: 494px;
	width: 1365px;
	background-color: #1C2097;
}
.nav{
	float: left;
	color: white;
	width: 150px;
}
.main{
	height: 400px;
	width: 1210px;
	float: left;
	background-color: white;
}
